* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

@font-face {
	font-family: 'titlefont';
	src: url('ClashDisplay-Variable.ttf');
}

@font-face {
	font-family: 'bodyfont';
	src: url('ClashDisplay-Regular.otf');
}

@font-face {
	font-family: 'highlight';
	src: url('ClashDisplay-Medium.otf');
}

body {
	background-color: #ffffff;
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
}

p, li {
	font-size:  20px;
	line-height: 30px;
	font-family: bodyfont;
}

/* adjusting spacing */

#left-column {
	padding: 50px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	list-style: none;
}


h3, p {
	font-size: 20px;
	font-family: highlight;
	margin-top: 30px;
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh; 
  width: 100vw;
  overflow: hidden;
}

#right-column {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  height: 100vh;           /* 화면 높이를 꽉 채움 */
  padding: 50px;       /* 세로로 나열 */
  gap: 30px;                     /* 사진 사이 간격 */
}

#right-column img {
  width: 30%;                   /* 박스 너비에 맞춤 */
  height: auto;                  /* 비율 유지 */
}

.dropcap {
    font-family: titlefont;
    font-size: 80px;
    color: black;
    vertical-align: top;
}

.desc {
	font-family: highlight;
    font-size: 30px;
    color: black;
    vertical-align: middle;
}

img {
  width: 500px;
  position: absolute;
  top: 20px;    /* 위에서 20px만큼 내려옴 */
  right: 20px;  /* 오른쪽에서 20px만큼 들어옴 */
}

ul li a {
	text-decoration: none;
	color: #000000;         /* 글자 색상을 검은색으로 통일 (원하는 색상으로 변경 가능) */
	display: inline-block; 
	transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
	color 0.3s ease;
}

/* 2. 마우스를 올렸을 때(Hover) 효과 */
ul li a:hover {
	transform: scale(1.05);  /* 글자 크기만 깔끔하게 10% 확대 (너무 크면 1.05로 줄이셔도 됩니다) */
	color: #43fafe;
}



/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/